<!DOCTYPE html>
<html>
<head>
	<base href="../..">
	<meta charset="utf-8" />
	<title>When the VNC</title>
  <link rel="stylesheet" type = "text/css" href="style.css">
	<script src="static/public/lib/noVNC/vnc.js"></script>
	<script src="static/public/js/connect.js"></script>
</head>
<body>
	<input id="ipInput" name="ip" type="text" placeholder="IP Address">
	<input id="portInput" name="port" type="numeric" placeholder="Port"><br>
	<button id="submitDetails" type="button">Connect</button><br>
	<script>
		const submitButton = document.querySelector('#submitDetails');
		submitButton.addEventListener('click', (e) => {
			const ip = document.querySelector('#ipInput').value;
			const port = document.querySelector('#portInput').value;
			serverConnect(ip, port);
		});

		initializeServer();
	</script>
</body>
</html>
