<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type = "text/css" href="style.css">
	<meta charset="utf-8" />
	<title>When the VNC</title>
    <script>
        import RFB from './core/rfb.js';
        let rfb;
        let host;
        let port;
	function getIP(){
            host = prompt("IP: ");
	}
	function getPort(){
            port = prompt("Port: ");
	}
        function connectedtohost(e){
            alert("connected");
        }
        
        function connectiondropped(e){
            alert("connection died");
        }
        
        function passwordneeded(e){
            const password = prompt("Password: ")
            rfb.sendCredentials({password: password});
        }
        let url;
        url = "wss://" + host +":" + port;
        rfb = new RFB(document.getElementById('screen'), url, {credentials: {password: password}});
        rfb.addEventListener("connect",  connectedtohost);
        rfb.addEventListener("disconnect", connectiondropped);
        rfb.addEventListener("credentialsrequired", passwordneeded);
        </script>
</head>

<button class = "debug" style="margin-right:30px"  type="button" onclick= "getIP()">Debug</button>
<button class = "port" style="margin-left:30px"  type="button" onclick= "getPort()">Debug</button>
<body>
    <div id="screen">
    </div>
</body>
</html>
